In [2]:
# Import Dependencies
import pandas as pd

In [3]:
vine_df = pd.read_csv("vine_table.csv")
vine_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,RSH1OZ87OYK92,2,2,3,N,N
1,R1WFOQ3N9BO65I,5,0,0,N,Y
2,R3YOOS71KM5M9,5,0,0,N,Y
3,R3R14UATT3OUFU,5,0,0,N,Y
4,RV2W9SGDNQA2C,5,0,0,N,Y
...,...,...,...,...,...,...
145426,R2G7DI8NYXZB5R,4,2,3,N,N
145427,R3QRKP4DS759BP,1,13,16,N,N
145428,R24K4C0ZC3093U,3,3,3,N,N
145429,R13OA3TRCM8IBM,1,20,22,N,N
145430,R1PFDIHC9TM6V4,4,4,4,N,N

In [12]:
vine_filtered = vine_df.loc[vine_df["total_votes"] >= 20, :]
vine_filtered.dtypes

review_id            object
star_rating           int64
helpful_votes         int64
total_votes           int64
vine                 object
verified_purchase    object
dtype: object

In [16]:
vine_helpful = vine_filtered.loc[lambda vine_filtered: (vine_filtered["helpful_votes"]) / (vine_filtered["total_votes"]) >=0.5]
vine_helpful

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N
...,...,...,...,...,...,...
145402,R2XZUU9DXCYWVS,5,87,97,N,N
145407,R1OJBA4VLHU9B3,4,51,51,N,N
145409,R2TDYPLG4M7XQV,3,28,31,N,N
145423,R3OZBHDT6V61RK,5,27,45,N,N
145429,R13OA3TRCM8IBM,1,20,22,N,N

In [19]:
vine_helpful_paid = vine_helpful.loc[vine_helpful["vine"] == "Y",:]
vine_helpful_paid

Empty DataFrame
Columns: [review_id, star_rating, helpful_votes, total_votes, vine, verified_purchase]
Index: []

In [20]:
vine_helpful_unpaid = vine_helpful.loc[vine_helpful["vine"] == "N",:]
vine_helpful_unpaid

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
278,RV4UH0OWW97K4,5,19,22,N,N
859,RG6GT6G9WNYT1,5,22,22,N,N
924,RFBXE3Q3GYQYO,5,68,70,N,Y
1662,R34S64NPUZOS90,5,23,24,N,N
1816,R35O3GV3HZUX8B,5,58,63,N,N
...,...,...,...,...,...,...
145402,R2XZUU9DXCYWVS,5,87,97,N,N
145407,R1OJBA4VLHU9B3,4,51,51,N,N
145409,R2TDYPLG4M7XQV,3,28,31,N,N
145423,R3OZBHDT6V61RK,5,27,45,N,N
145429,R13OA3TRCM8IBM,1,20,22,N,N

In [21]:
total_unpaid_reviews = vine_helpful_unpaid.count()
total_unpaid_reviews

review_id            1685
star_rating          1685
helpful_votes        1685
total_votes          1685
vine                 1685
verified_purchase    1685
dtype: int64

In [23]:
unpaid_5_star = vine_helpful_unpaid.loc[vine_helpful_unpaid["star_rating"] == 5,:].count()
unpaid_5_star

review_id            631
star_rating          631
helpful_votes        631
total_votes          631
vine                 631
verified_purchase    631
dtype: int64

In [27]:
percentage_5_star = (unpaid_5_star / total_unpaid_reviews) * 100
percentage_5_star

review_id            37.448071
star_rating          37.448071
helpful_votes        37.448071
total_votes          37.448071
vine                 37.448071
verified_purchase    37.448071
dtype: float64